[General]

# specifies the index matrix to use (wiberg, nlmo)
BOND_DETERMINATION_MODE: wiberg
# specifies how hydrogens should be represented (explicit, omit, implicit)
HYDROGEN_MODE: implicit
# the threshold value for determining bonds from index matrix
BOND_THRESHOLD: 0.3
# the threshold value for determining bound hydrogens on heavy atoms from index matrix
HYDROGEN_COUNT_THRESHOLD: 0.5

[Targets]

# dispersion energy
SVP_DISPERSION_ENERGY: true
TZVP_DISPERSION_ENERGY: true

# electronic energy
SVP_ELECTRONIC_ENERGY: true
TZVP_ELECTRONIC_ENERGY: true

# dipole moment
SVP_DIPOLE_MOMENT: true
TZVP_DIPOLE_MOMENT: true

# orbitals
SVP_HOMO_ENERGY: true
SVP_LUMO_ENERGY: true
TZVP_HOMO_ENERGY: true
TZVP_LUMO_ENERGY: true

SVP_HOMO_LUMO_GAP: true
TZVP_HOMO_LUMO_GAP: true

# frequencies
LOWEST_VIBRATIONAL_FREQUENCY: true
HIGHEST_VIBRATIONAL_FREQUENCY: true

# thermo chemistry
HEAT_CAPACITY: true
ENTROPY: true

ZPE_CORRECTION: true
ENTHALPY_ENERGY: true
GIBBS_ENERGY: true
CORRECTED_ENTHALPY_ENERGY: true
CORRECTED_GIBBS_ENERGY: true

# delta values
DISPERSION_ENERGY_DELTA: true
ELECTRONIC_ENERGY_DELTA: true
DIPOLE_MOMENT_DELTA: true
HOMO_LUMO_GAP_DELTA: true

[Node Features]

# basic
ATOMIC_NUMBERS: true
NATURAL_ATOMIC_CHARGES: true

BOND_ORDER_TOTAL: true

# electron configuration (specify which orbital electron configurations to extract: s p d f)
NATURAL_ELECTRON_CONFIGURATION: s p d f

# specify whether to use difference between min and max orbital energies for lone pairs
LONE_PAIR_ENERGY_MIN_MAX_DIFFERENCE: true

# specify whether to use maximum or average orbital occupancy values for lone pairs
LONE_PAIR_MAX: true
LONE_PAIR_AVERAGE: true

# lone pairs (specify which orbital occupancies to extract: s p d f)
LONE_PAIRS: s p d f

# specify whether to use difference between min and max orbital energies for lone vacancies
LONE_VACANCY_ENERGY_MIN_MAX_DIFFERENCE: true

# specify whether to use minimum or average orbital occupancy values for lone vacancies
LONE_VACANCY_MIN: true
LONE_VACANCY_AVERAGE: true

# lone vacancies (specify which orbital occupancies to extract: s p d f)
LONE_VACANCIES: s p d f

[Edge Features]

# will use the bond order of specified mode (Wiberg, NLMO)
BOND_ORDER: true

# euclidean distance between atoms
BOND_DISTANCE: true

# specify whether to use difference between min and max orbital energies for bonds
BOND_ENERGY_MIN_MAX_DIFFERENCE: true

# specify whether to use maximum or average orbital occupancy values for bonds
BOND_ORBITAL_MAX: true
BOND_ORBITAL_AVERAGE: true

# NBO data bonding (specify which orbital occupancies to extract: s p d f)
BOND_ORBITAL_DATA: s p d f

# specify whether to use difference between min and max  orbital energies for antibonds
ANTIBOND_ENERGY_MIN_MAX_DIFFERENCE: true

# specify whether to use minimum or average orbital occupancy values for antibonds
ANTIBOND_ORBITAL_MIN: true
ANTIBOND_ORBITAL_AVERAGE: true

# NBO data antibonding (specify which orbital occupancies to extract: s p d f)
ANTIBOND_ORBITAL_DATA: s p d f

[Graph features]

# basic
N_ATOMS: true
MOLECULAR_MASS: true
CHARGE: true
POLARISABILITY: true