[General]

# specifies the index matrix to use (wiberg, nlmo)
BOND_DETERMINATION_MODE: wiberg
# specifies how hydrogens should be represented (explicit, omit, implicit)
HYDROGEN_MODE: implicit
# the threshold value for determining bonds from index matrix
BOND_THRESHOLD: 0.3
# the threshold value for determining bound hydrogens on heavy atoms from index matrix
HYDROGEN_COUNT_THRESHOLD: 0.5

[Attributes]

# dispersion energy
SVP_DISPERSION_ENERGY: false
TZVP_DISPERSION_ENERGY: false

# electronic energy
SVP_ELECTRONIC_ENERGY: false
TZVP_ELECTRONIC_ENERGY: false

# dipole moment
SVP_DIPOLE_MOMENT: false
TZVP_DIPOLE_MOMENT: false

# orbitals
SVP_HOMO_ENERGY: false
SVP_LUMO_ENERGY: false
TZVP_HOMO_ENERGY: false
TZVP_LUMO_ENERGY: false

SVP_HOMO_LUMO_GAP: false
TZVP_HOMO_LUMO_GAP: false

# frequencies
LOWEST_VIBRATIONAL_FREQUENCY: false
HIGHEST_VIBRATIONAL_FREQUENCY: false

# thermo chemistry
HEAT_CAPACITY: false
ENTROPY: false

ZPE_CORRECTION: false
ENTHALPY_ENERGY: false
GIBBS_ENERGY: false
CORRECTED_ENTHALPY_ENERGY: false
CORRECTED_GIBBS_ENERGY: false

# delta values
DISPERSION_ENERGY_DELTA: false
ELECTRONIC_ENERGY_DELTA: false
DIPOLE_MOMENT_DELTA: false
HOMO_LUMO_GAP_DELTA: false

[Node Features]

# basic
ATOMIC_NUMBERS: true
NATURAL_ATOMIC_CHARGES: false

BOND_ORDER_TOTAL: true

# electron configuration (specify which orbital electron configurations to extract: s p d f)
NATURAL_ELECTRON_CONFIGURATION:

# lone pairs (specify which orbital occupancies to extract: s p d f)
LONE_PAIRS: 

# lone vacancies (specify which orbital occupancies to extract: s p d f)
LONE_VACANCIES:

[Edge Features]

# will use the bond order of specified mode (Wiberg, NLMO)
BOND_ORDER: false

# euclidean distance between atoms
BOND_DISTANCE: false

# NBO data bonding (specify which orbital occupancies to extract: s p d f)
BOND_ORBITAL_DATA: f
    
# NBO data antibonding (specify which orbital occupancies to extract: s p d f)
ANTIBOND_ORBITAL_DATA:

[Graph features]

# basic
N_ATOMS: true
MOLECULAR_MASS: true
CHARGE: true
POLARISABILITY: true