[General]

# specifies the index matrix to use (wiberg, nlmo)
BOND_DETERMINATION_MODE: wiberg
# specifies how hydrogens should be represented (explicit, omit, implicit)
HYDROGEN_MODE: implicit
# the threshold value for determining bonds from index matrix
BOND_THRESHOLD: 0.3
# the threshold value for determining bound hydrogens on heavy atoms from index matrix
HYDROGEN_COUNT_THRESHOLD: 0.5

[Targets]

# dispersion energy
SVP_DISPERSION_ENERGY: false
TZVP_DISPERSION_ENERGY: false

# electronic energy
SVP_ELECTRONIC_ENERGY: false
TZVP_ELECTRONIC_ENERGY: false

# dipole moment
SVP_DIPOLE_MOMENT: false
TZVP_DIPOLE_MOMENT: false

# orbitals
SVP_HOMO_ENERGY: false
SVP_LUMO_ENERGY: false
TZVP_HOMO_ENERGY: false
TZVP_LUMO_ENERGY: false

SVP_HOMO_LUMO_GAP: false
TZVP_HOMO_LUMO_GAP: false

# frequencies
LOWEST_VIBRATIONAL_FREQUENCY: false
HIGHEST_VIBRATIONAL_FREQUENCY: false

# thermo chemistry
HEAT_CAPACITY: false
ENTROPY: false

ZPE_CORRECTION: false
ENTHALPY_ENERGY: false
GIBBS_ENERGY: false
CORRECTED_ENTHALPY_ENERGY: false
CORRECTED_GIBBS_ENERGY: false

# delta values
DISPERSION_ENERGY_DELTA: false
ELECTRONIC_ENERGY_DELTA: false
DIPOLE_MOMENT_DELTA: false
HOMO_LUMO_GAP_DELTA: true

[Node Features]

# basic
ATOMIC_NUMBERS: true
NATURAL_ATOMIC_CHARGES: false

BOND_ORDER_TOTAL: false

# electron configuration (specify which orbital electron configurations to extract: s p d f)
NATURAL_ELECTRON_CONFIGURATION:

# specify whether to use difference between min and max orbital energies for lone pairs
LONE_PAIR_ENERGY_MIN_MAX_DIFFERENCE: false

# specify whether to use maximum or average orbital occupancy values for lone pairs
LONE_PAIR_MAX: true
LONE_PAIR_AVERAGE: false

# lone pairs (specify which orbital occupancies to extract: s p d f)
LONE_PAIRS: 

# specify whether to use difference between min and max orbital energies for lone vacancies
LONE_VACANCY_ENERGY_MIN_MAX_DIFFERENCE: false

# specify whether to use minimum or average orbital occupancy values for lone vacancies
LONE_VACANCY_MIN: true
LONE_VACANCY_AVERAGE: false

# lone vacancies (specify which orbital occupancies to extract: s p d f)
LONE_VACANCIES:

[Edge Features]

# will use the bond order of specified mode (Wiberg, NLMO)
BOND_ORDER: false

# euclidean distance between atoms
BOND_DISTANCE: true

# specify whether to use difference between min and max orbital energies for bonds
BOND_ENERGY_MIN_MAX_DIFFERENCE: false

# specify whether to use maximum or average orbital occupancy values for bonds
BOND_ORBITAL_MAX: true
BOND_ORBITAL_AVERAGE: false

# NBO data bonding (specify which orbital occupancies to extract: s p d f)
BOND_ORBITAL_DATA: 

# specify whether to use difference between min and max  orbital energies for antibonds
ANTIBOND_ENERGY_MIN_MAX_DIFFERENCE: false

# specify whether to use minimum or average orbital occupancy values for antibonds
ANTIBOND_ORBITAL_MIN: true
ANTIBOND_ORBITAL_AVERAGE: false

# NBO data antibonding (specify which orbital occupancies to extract: s p d f)
ANTIBOND_ORBITAL_DATA:

[Graph features]

# basic
N_ATOMS: false
MOLECULAR_MASS: false
CHARGE: false
POLARISABILITY: false